<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gestor del hogar</title>

        <!-- Bootstrap core CSS -->
        <link href="Resources/css/bootstrap.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="Resources/css/simple-sidebar.css" rel="stylesheet">
    </head>
    
    <body style="overflow-x: hidden;">
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" style="background: #424242; overflow-x: hidden">
                <ul class="sidebar-nav" style="overflow: hidden;">
                    <div class="row" style="margin-right: 0px; margin-top: 5px;">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h1 class="text-center" style="color: #F0F0F0">Menú</h1>
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    </div>

                    <hr style="margin-bottom: 10px; margin-top: 17px">

                    <div class="row" style="margin-left: 7px; margin-right: 10px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="text-center" style="color: #F0F0F0">{{user_name}}</h3>
                        </div>
                    </div>

                    <hr>

                    <div class="row" style="margin-left: 7px; margin-right: 10px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="button" class="btn btn-primary btn-block" value="Principal" onclick="window.location.href='/home'" />
                        </div>
                    </div>

                    <br>

                    <div class="row" style="margin-left: 7px; margin-right: 10px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="text-center" style="margin-top: 0px; color: #F0F0F0">Gestión de gastos</h3>
                            <hr>
                            <input type="button" class="btn btn-primary btn-block" value="Nuevo ticket" onclick="window.location.href='/addReceipt'" />
                            <div style="margin-bottom: 10px"></div>
                            <input type="button" class="btn btn-primary btn-block" value="Consultar gastos" onclick="window.location.href='/showReceipt'" />
                        </div>
                    </div>

                    <br>

                    <div class="row" style="margin-left: 7px; margin-right: 10px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="text-center" style="margin-top: 0px; color: #F0F0F0">Lista de la compra</h3>
                            <hr>
                            <input type="button" class="btn btn-primary btn-block" value="Nueva lista" onclick="window.location.href='/addList'" />
                            <div style="margin-bottom: 10px"></div>
                            <input type="button" class="btn btn-primary btn-block" value="Consultar listas" onclick="window.location.href='/showList'" />
                        </div>
                    </div>

                    <br>

                    <div class="row" style="margin-left: 7px; margin-right: 10px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="text-center" style="margin-top: 0px; color: #F0F0F0">Tareas a realizar</h3>
                            <hr>
                            <input type="button" class="btn btn-primary btn-block" value="Nueva tarea" onclick="window.location.href='/addTask'" />
                            <div style="margin-bottom: 10px"></div>
                            <input type="button" class="btn btn-primary btn-block" value="Consultar tareas" onclick="window.location.href='/showTask'" />
                        </div>
                    </div>

                    <br>

                    <div class="row" style="margin-left: 7px; margin-right: 10px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="text-center" style="margin-top: 0px; color: #F0F0F0">Horario</h3>
                            <hr>
                            <input type="button" class="btn btn-primary btn-block" value="Consultar" onclick="window.location.href='/showSchedule'" />
                        </div>
                    </div>

                    <hr style="margin-bottom: 17px; margin-top: 17px">

                    <div class="row" style="margin-left: 7px; margin-right: 10px; margin-bottom: 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="btn-group btn-block">
                            <button type="submit" class="btn btn-danger btn-block" onclick="window.location.href='{{access_link}}'">Salir</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>

            <!-- Page content -->
            <div id="page-content-wrapper" style="overflow: hidden; border-left: solid white 1px;">
                <div class="content-header" style="background: #424242; height: 73px;">
                    <div class="row" style="margin-left: 0px; background-color: #424242; padding-top: 13px; padding-bottom: 6px;">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <a id="menu-toggle" href="#" class="btn btn-default">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </a>
                        </div>

                        <div class="col-md-2 col-lg-2"></div>

                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-5 text-center">
                            <h1 style="color: #F0F0F0;">Gestor del hogar</h1>
                        </div>

                        <div class="col-md-3 col-lg-3"></div>
                    </div>
                </div>

                <!-- Keep all page content within the page-content inset div! -->
                <div class="page-content inset" style="margin-top: 30px; margin-left: 40px; margin-right: 40px; margin-bottom: 10px;">
                    <h2>Tickets</h2>
                    <hr style="border-color: #424242;">

                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <label>Concepto</label>
                            <hr style="border-color: #A4A4A4; margin-top: -1px;">
                        </div>

                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label>Importe</label>
                            <hr style="border-color: #A4A4A4; margin-top: -1px;">
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label>Fecha</label>
                            <hr style="border-color: #A4A4A4; margin-top: -1px;">
                        </div>
                    </div>

                    {% if(receipts.count() > 0) %}
                        {% for receipt in receipts %}
                            <a href="/readReceipt?idReceipt={{receipt.key.urlsafe()}}">
                                <div class="row">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        {{receipt.concept}}
                                    </div>

                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        {{receipt.price}} €
                                    </div>

                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        {{receipt.date}}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- JavaScript -->
        <script src="../Resources/js/jquery-1.10.2.js"></script>
        <script src="../Resources/js/bootstrap.js"></script>

        <!-- Custom JavaScript for the Menu Toggle -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
        </script>
    </body>
</html>
